@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 text-center d-flex justify-content-center">
    <div class="bg-white p-3 rounded shadow-lg">
        <p>Hello.</p>
        <p>This is a CRUD ASP.NET MVC application made for practice purposes.</p>
    </div>
</div>
